extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de nosotro", class="img-fluid")

            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis natus quibusdam aut! Recusandae cupiditate vitae voluptas odio natus illo! Ut.
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum accusamus distinctio exercitationem eos modi maiores assumenda ea! Error assumenda perferendis voluptas rerum saepe neque, cumque nisi dolore eveniet, excepturi minus possimus soluta commodi. Eveniet perspiciatis error illum ipsa tempore nihil?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, similique illo. Excepturi amet nisi nobis, suscipit deleniti cumque saepe. Sapiente provident iste repudiandae repellat animi ad beatae quidem doloremque possimus!
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2 Seguridad
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sunt amet impedit, earum obcaecati placeat eius odio possimus laboriosam voluptatem!
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2 Mejores Destinos
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sunt amet impedit, earum obcaecati placeat eius odio possimus laboriosam voluptatem!
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2 Mejores Precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sunt amet impedit, earum obcaecati placeat eius odio possimus laboriosam voluptatem!