extends  ../layout/index

block slider
    .slider 
        h1 Rio De Janeiro
        em Aventura
block content
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et soluta maiores voluptatem veniam optio ratione ea doloremque ut nostrum dicta natus ad quos quae odio, placeat laudantium quaerat distinctio neque?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae suscipit eveniet minima id aliquid aspernatur excepturi obcaecati beatae in deserunt ipsa quaerat, commodi maxime necessitatibus est incidunt numquam quia nobis fuga labore dignissimos praesentium ratione tempora voluptate? Laboriosam molestiae minima vitae numquam, ipsum assumenda pariatur. Dolore, error laboriosam.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Sobre Nosotros
        include ../layout/parcials/viajes
        
        
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo viaje a Canada
                        p.fecha 20 de Noviembre 2020 - 15 de Diciembre 2020
                        p.precio $2.50
    
    .container
        h2.text-center.mb-5 Sobre Nosotros
        include ../layout/parcials/testimoniales
